.jira-issue-container {
    display: flex;
    align-items: flex-start;
    position: relative;
    line-height: 1em;
    flex-direction: column;
    margin-bottom: 10px;
    vertical-align: middle;
}

/* Generic */
.jira-issue-container a {
    cursor: pointer;
    text-decoration: none;
}

.jira-issue-container img.fit-content {
    height: 16px;
    width: 16px;
}

.jira-issue-container img.fit-content {
    max-width: fit-content;
    width: fit-content;
}

.jira-issue-container .no-wrap {
    flex-grow: 0;
    flex-shrink: 0;
    white-space: nowrap;
}

.jira-issue-container .issue-summary {
    flex-grow: 1;
}

.jira-issue-container a:hover {
    text-decoration: underline;
}

/* Spinner */
.jira-issue-container .spinner {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.jira-issue-container .spinner::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    margin-left: -8px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #000;
    animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

/* search-footer */
.jira-issue-container .search-footer {
    margin-top: 3px;
    font-size: x-small;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.jira-issue-container .search-footer button {
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
    box-shadow: none;
    height: 1.5em;
    max-height: fit-content;
    cursor: pointer;
    font-size: x-small;
    vertical-align: middle;
    margin-left: 3px;
}

.jira-issue-container .search-footer button:hover {
    opacity: 0.8;
}

.jira-issue-container .search-footer button>svg {
    height: 1.5em;
    width: 1.5em;
    fill: none;
    stroke: currentColor;
}

/* ji-tags */
.jira-issue-container .ji-tags {
    align-items: stretch;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.jira-issue-container .ji-tags.has-addons .ji-tag:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.jira-issue-container .ji-tags.has-addons .ji-tag {
    margin-right: 0;
}

.jira-issue-container .ji-tag.is-light {
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, 0.7);
}

.jira-issue-container .ji-tag {
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 4px;
    color: #4a4a4a;
    display: inline-flex;
    font-size: 0.75em;
    justify-content: flex-start;
    line-height: 1.5;
    padding: 0.2em 0.75em;
}

.jira-issue-container .ji-tag.ji-sm-tag {
    padding: 0.2em 0.4em;
}

.jira-issue-container .ji-tags {
    margin-bottom: 0.5em;
}

.jira-issue-container .ji-tags:last-child {
    margin-bottom: 0;
}

.jira-issue-container .ji-tags.has-addons .ji-tag:not(:first-child) {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.ji-tag.is-delete {
    margin-left: 1px;
    padding: 0;
    position: relative;
    width: 2em;
}

/* ji-tags is-delete */
.ji-tag.is-delete::before {
    height: 1px;
    width: 50%;
}

.ji-tag.is-delete::after {
    height: 50%;
    width: 1px;
}

.ji-tag.is-delete::after,
.ji-tag.is-delete::before {
    background-color: currentColor;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center;
}

/* ji-tags is-link */
.jira-issue-container .ji-tag.is-link.is-light {
    background-color: #eff1fa;
    color: #3850b7;
}

.jira-issue-container .ji-tag.is-link.is-dark {
    background-color: #485fc7;
    color: #fff;
}

/* ji-tags is-info */
.jira-issue-container .ji-tag.is-info {
    background-color: #3e8ed0;
    color: #fff;
}

/* ji-tags is-success */
.jira-issue-container .ji-tag.is-success {
    background-color: #48c78e;
    color: #fff;
}

/* ji-tags is-warning */
.ji-tag.is-warning {
    background-color: #ffe08a;
    color: rgba(0, 0, 0, 0.7);
}

/* ji-tags is-danger */
.jira-issue-container .ji-tag.is-danger {
    background-color: #f14668;
    color: #fff;
}

.jira-issue-container .ji-tag.is-danger.is-light {
    background-color: #feecf0;
    color: #cc0f35;
}

/* ji-tags is-dark */
.jira-issue-container .ji-tag.is-dark {
    background-color: #363636;
    color: #fff;
}

/* table */
.jira-issue-container table {
    border-collapse: collapse;
    border-spacing: 0;
}

.jira-issue-container .table {
    background-color: #fff;
    color: #363636;
    font-size: small;
    margin-bottom: 0;
}

.jira-issue-container .table.is-fullwidth {
    width: 100%;
}

.jira-issue-container .table thead,
.jira-issue-container .table tfoot,
.jira-issue-container .table tbody {
    background-color: transparent;
}

.jira-issue-container .table.is-bordered tr:last-child td,
.jira-issue-container .table.is-bordered tr:last-child th {
    border-bottom-width: 1px;
}

.jira-issue-container .table.is-narrow td,
.jira-issue-container .table.is-narrow th {
    padding: 0.25em 0.5em;
}

.jira-issue-container .table.is-bordered td,
.jira-issue-container .table.is-bordered th {
    border-width: 1px;
}

.jira-issue-container .table th:not([align]) {
    text-align: inherit;
}

.jira-issue-container .table thead td,
.jira-issue-container .table thead th {
    border-width: 0 0 2px;
    color: #363636;
}

.jira-issue-container table td:not([align]),
.jira-issue-container table th:not([align]) {
    text-align: inherit;
}

.jira-issue-container .table th {
    color: #363636;
    white-space: nowrap;
}

.jira-issue-container .table td,
.jira-issue-container .table th {
    border: 1px solid #dbdbdb;
    border-width: 0 0 1px;
    padding: 0.5em 0.75em;
    vertical-align: top;
}

.jira-issue-container td:not([align]),
th:not([align]) {
    text-align: inherit;
}

.jira-issue-container table th {
    color: #363636;
}

.jira-issue-container table td,
table th {
    vertical-align: top;
}

.jira-issue-container td,
th {
    padding: 0;
}

.jira-issue-container .table.is-striped tbody tr:not(.is-selected):nth-child(even) {
    background-color: #fafafa;
}

.jira-issue-container .table.is-hoverable.is-striped tbody tr:not(.is-selected):hover:nth-child(even) {
    background-color: #f5f5f5;
}

.jira-issue-container .table.is-hoverable.is-striped tbody tr:not(.is-selected):hover {
    background-color: #fafafa;
}

.jira-issue-container .table.is-striped tbody tr:not(.is-selected):nth-child(even) {
    background-color: #fafafa;
}

.jira-issue-container .table.is-hoverable tbody tr:not(.is-selected):hover {
    background-color: #fafafa;
}

.jira-issue-container .table.is-dark {
    background-color: #000000;
    color: #dadada;
}

.jira-issue-container .table.is-dark thead td,
.jira-issue-container .table.is-dark thead th {
    color: #dadada;
}

.jira-issue-container .table.is-dark td,
.jira-issue-container .table.is-dark th {
    border: 1px solid #333333;
}

.jira-issue-container table.is-dark th {
    color: #dadada;
}

.jira-issue-container .table.is-striped.is-dark tbody tr:not(.is-selected):nth-child(even) {
    background-color: #141414;
}

.jira-issue-container .table.is-hoverable.is-striped.is-dark tbody tr:not(.is-selected):hover:nth-child(even) {
    background-color: #242424;
}

.jira-issue-container .table.is-hoverable.is-striped.is-dark tbody tr:not(.is-selected):hover {
    background-color: #242424;
}

.jira-issue-container .table.is-striped.is-dark tbody tr:not(.is-selected):nth-child(even) {
    background-color: #141414;
}

.jira-issue-container .table.is-hoverable.is-dark tbody tr:not(.is-selected):hover {
    background-color: #141414;
}

.jira-issue-container .internal-link {
    text-decoration: none;
}

/* Inline Issues */
.jira-issue-container.ji-inline-issue {
    display: inline-block;
    margin: 0;
}

.jira-issue-container.ji-inline-issue .ji-tag {
    padding: 0.1em 0.3em;
}

/* Settings */
.setting-item-control select.flex-grow-1 {
    flex-grow: 1;
    max-width: none;
}

.setting-item-control input[type="text"].custom-field-text {
    margin-left: 10px;
    height: 2.5em;
    border-radius: 8px;
}

.jira-issue-container .letter-height {
    height: auto;
    max-height: 1em;
}

.jira-issue-container img.avatar-image {
    width: 100%;
    max-width: 16px;
    height: auto;
    max-height: 16px;
}

.jira-issue-suggestion {
    font-size: small;
    margin-right: 5px;
}

.jira-issue-suggestion:last-child {
    margin-right: 0;
}

.jira-issue-suggestion.is-compact {
    color: green;
}

.jira-issue-suggestion.is-custom-field {
    color: orange;
}

.jira-issue-suggestion.is-function {
    color: red;
}

.jira-issue-inline-mark {
    display: inline-block;
    padding: 2px 5px;
}

.ji-inline-issue.jira-issue-container .ji-band,
.jira-issue-container .ji-band {
    width: 3px;
    min-width: 3px;
    padding: 0;
}

.HyperMD-task-line[data-task="x"] .ji-inline-issue.jira-issue-container {
    text-decoration: line-through;
}

.jira-issue-container span.pull-request-tag {
    padding: 1px 3px;
    line-height: 1.5;
    padding: 0.2em 0.75em;
    font-size: 0.75em;
}

.jira-issue-container span.pull-request-tag:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;

}

.jira-issue-container span.pull-request-tag:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.jira-issue-container span.pull-request-open.is-light {
    background-color: #97AFD8;
}

.jira-issue-container span.pull-request-merged.is-light {
    background-color: #96E773;
}

.jira-issue-container span.pull-request-delete.is-light {
    background-color: #D39C9E;
}

.jira-issue-container span.pull-request-open.is-dark {
    background-color: #325186;
}

.jira-issue-container span.pull-request-merged.is-dark {
    background-color: #25570F;
}

.jira-issue-container span.pull-request-delete.is-dark {
    background-color: #984447;
}

.jira-issue-container .pull-request-tag>svg {
    height: 1em;
    width: 1em;
    stroke: none;
    fill: currentColor;
}

.jira-issue-container .rotate-animation {
    animation-name: rotate-keyframes;
    animation-duration: 2s;
}

@keyframes rotate-keyframes {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.jira-issue-container .icon-link:hover {
    text-decoration: none;
}

svg.svg-icon.visible {
    stroke: none;
    fill: currentColor;
}

svg.svg-icon.hidden {
    stroke: none;
    fill: currentColor;
}