.jira-issue-container {
    display: flex;
    align-items: flex-start;
    position: relative;
    line-height: 1rem;
    flex-direction: column;
}

/* Generic */
.jira-issue-container a {
    cursor: pointer;
    text-decoration: none;
}

.jira-issue-container a.tag:hover {
    text-decoration: underline;
}

/* Spinner */
.jira-issue-container .spinner {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.jira-issue-container .spinner::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    margin-left: -8px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #000;
    animation: spinner 0.6s linear infinite;
}
@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

/* Tags */
.jira-issue-container .tags {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.jira-issue-container .tags.has-addons .tag:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.jira-issue-container .tags.has-addons .tag {
    margin-right: 0;
}

.jira-issue-container .tag:not(body).is-light {
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, .7);
}

.jira-issue-container .tag:not(body) {
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 4px;
    color: #4a4a4a;
    display: inline-flex;
    font-size: .75rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: 0.75em;
    padding-right: 0.75em;
    white-space: nowrap;
}

.jira-issue-container .tags {
    margin-bottom: 0.5rem;
}
.jira-issue-container .tags:last-child {
    margin-bottom: 0;
}

.jira-issue-container .tags.has-addons .tag:not(:first-child) {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.tag:not(body).is-delete {
    margin-left: 1px;
    padding: 0;
    position: relative;
    width: 2em;
}

/* Tags is-delete */
.tag:not(body).is-delete::before {
    height: 1px;
    width: 50%;
}
.tag:not(body).is-delete::after {
    height: 50%;
    width: 1px;
}
.tag:not(body).is-delete::after, .tag:not(body).is-delete::before {
    background-color: currentColor;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center;
}

/* Tags is-link */
.jira-issue-container .tag:not(body).is-link.is-light {
    background-color: #eff1fa;
    color: #3850b7;
}

/* Tags is-info */
.jira-issue-container .tag:not(body).is-info {
    background-color: #3e8ed0;
    color: #fff;
}

/* Tags is-success */
.jira-issue-container .tag:not(body).is-success {
    background-color: #48c78e;
    color: #fff;
}

/* Tags is-warning */
.tag:not(body).is-warning {
    background-color: #ffe08a;
    color: rgba(0,0,0,.7);
}

/* Tags is-danger */
.jira-issue-container .tag:not(body).is-danger {
    background-color: #f14668;
    color: #fff;
}

.tag:not(body).is-danger.is-light {
    background-color: #feecf0;
    color: #cc0f35;
}